h1 {
    padding: 10px 20px;
}

h2 {
    padding: 0px 10px;
}
h3 {
    padding: 0px 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

.listingTable {
    border-collapse: collapse;
}

.listingTable th, .listingTable td {
    border: 1px solid;
    padding: 8px;
}

.summaryTable {
    border-collapse: collapse;
}
.summaryTable td {
    padding: 8px 10px 8px 20px;    
    /* border: 1px solid; */
}
