h1 {
    padding: 0px 10px;
    font-family: 'Times', "Times New Roman", serif;
}

h2 {
    padding: 0px 10px;
}

h3 {
    padding: 0px 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

.listingTable {
    border-collapse: collapse;
}

.listingTable th, .listingTable td {
    border: 1px solid;
    padding: 8px;
}

.summaryTable {
    border-collapse: collapse;
}
.summaryTable td {
    padding: 8px 10px 8px 20px;    
    /* border: 1px solid; */
}

#headerTable {
    background-color: lightgrey; /* Sets the background color to light grey */
    border: 1px solid black;     /* Adds a solid black border around the table */
  }

/* Style the container to mimic an h1 */
.namespaceSelectContainer {
    position: relative;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    color: inherit;
  }
  
  /* Style the select element */
  .namespaceSelectContainer select {
    font-family: 'Times', "Times New Roman", serif;
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0em 0.6em 0em 0;
    border: none;
    background: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: inherit;
    width: auto;
  }
  
  /* Add the custom arrow using the container's ::after pseudo-element */
  .namespaceSelectContainer::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 1em;
    width: 0;
    height: 0;
    pointer-events: none;
    border-left: 0.35em solid transparent;
    border-right: 0.35em solid transparent;
    border-top: 0.35em solid currentColor;
    transform: translateY(-50%);
  }

td.filterSelected {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 8px 20px 8px 20px;    
}

td.filterUnSelected {
    border: 1px solid black;
    padding: 8px 20px 8px 20px;    
}

td.filterBody {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 8px 20px 8px 20px;    
}

.filterContainerSelected {
    position: relative;
    display: inline-block;
    padding-right: 20px; /* space for the triangle */
}

.filterContainerSelected::after {
    content: "";
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black; /* color of the triangle */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
}

.filterContainerUnSelected {
    position: relative;
    display: inline-block;
    padding-right: 20px; /* space for the triangle */
}

.filterContainerUnSelected::after {
    content: "";
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black; /* color of the triangle */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
}
